<!DOCTYPE html>
<html>
  <head>
    <title><%= @resume.particulars.name.join(' ') %> | R&eacute;sum&eacute;</title>
    <script src="http://use.typekit.com/cak6cdh.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <style>
      body { 
        background-color: #fff;
        color: #555;
        font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
        font-size: 14px;
        width: 800px;
        margin: 0 auto;
        padding: 50px; }
      section {
        margin-left: 175px; 
        margin-bottom: 2em; }
        section h3 { 
          position: relative; 
          left: -175px; 
          margin: 0; 
          float: left; 
          width: 0; }
      h1 {
        color: #264E59;
        font-family: "bello-pro-1","bello-pro-2",sans-serif;
        font-size: 60px;
        margin-bottom: 0; }
      h2 {
        font-weight: 100;
        font-size: 32px;
        margin: 0 0 1em 0; }
      a {
        text-decoration: none;
        color: #264E59; }
        a:hover { color: #3A7878; }
      address {
        font-style: normal; }
      #skills dt {
        display: inline-block;
        float: left;
        margin-right: .5em; }
      dt { font-weight: bold; }
      footer { 
        margin-top: 6em;
        font-size: 12px;}
      footer .divider { 
        color: #ccc;
        padding: 0 1em; }
    </style>
  </head>
  <body>
    <header>
      <h1><%= @resume.particulars.name.join(' ') %></h1>
      <h2><%= @resume.particulars.tagline %></h1>
      <section id="contact">
        <h3>Contact</h3>
        <address>
          <p id="street">
            <%= @resume.particulars.contact.address.street %><br/>
            <%= @resume.particulars.contact.address.street2 %><br/>
            <%= @resume.particulars.contact.address.city %>,<%= @resume.particulars.contact.address.state %> <%= @resume.particulars.contact.address.zipcode %>
          </p>
          <p id="telephone">
            <%= @resume.particulars.contact.telephone %>
          </p>
          <p id="email">
            <a href="mailto:<%= @resume.particulars.contact.email %>"><%= @resume.particulars.contact.email %></a>
          </p>
          <p id="websites">
            <% @resume.particulars.contact.websites.each do |website| %><a href="<%= website %>"><%= website %></a><br /><% end %>
          </p>
        </address>
    </header>
    <section id="skills">
      <h3>Skills</h3>
      <dl>
      <% @resume.skills.each do |category| %>
        <dt><%= category.category %>:</dt>
        <dd><%= category.skills.join(', ') %></dd>
      <% end %>
      </dl>
    </section>
    <section id="experience">
      <h3>Experience</h3>
      <dl>
      <% @resume.experience.each do |job| %>
        <dt><%= job.title %> at <%= job.name %> in <%= job.contact.address.city %>, <%= job.contact.address.state %> (<%= job.date.start.year %> - <%= job.date.end.year %>)</dt>
        <dd>
          <ul>
          <% job.points.each do |point| %>
            <li><%= point %></li>
          <% end %>
          </ul>
        </dd>
      <% end %>
      </dl>
    </section>
    <section id="endorsements">
      <h3>Endorsements</h3>
      <% @resume.endorsements.each do |endorsement| %>
        <div class="endorsement">
          <p class="body">&ldquo;<%= endorsement.body %>&rdquo;</p>
          <p class="from">-- <%= endorsement.from.name %>, <%= endorsement.from.rel %>
        </div>
      <% end %>
    </section>
    <footer>
      <address>
        <%= @resume.particulars.name.join(' ') %> <span class="divider">|</span>
        <%= @resume.particulars.contact.telephone %> <span class="divider">|</span>
        <a href="mailto:<%= @resume.particulars.contact.email %>"><%= @resume.particulars.contact.email %></a> <span class="divider">|</span>
        <a href="<%= @resume.particulars.contact.websites.first %>"><%= @resume.particulars.contact.websites.first %></a> <span class="divider">|</span>
        <a href="<%= @resume.particulars.name.join('.').downcase %>.pdf">Download PDF Version</a>
      </address>
    </footer>
  </body>
</html>
