<!DOCTYPE html>
<html>
  <head>
    <title><%= @resume.particulars.name.join(' ') %> | R&eacute;sum&eacute;</title>
    <script src="http://use.typekit.com/cak6cdh.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="http://phillipridlen.com/resume/css/resume.css"/>
  </head>
  <body>
    <header>
      <h1><%= @resume.particulars.name.join(' ') %></h1>
      <h2><%= @resume.particulars.tagline %></h1>
      <section id="contact">
        <h3>Contact</h3>
        <address>
          <p id="street">
            <%= @resume.particulars.contact.address.street %><br/>
            <%= "#{street2 = @resume.particulars.contact.address.street2} <br/>" unless street2.nil? %><br />
            <%= @resume.particulars.contact.address.city %>, <%= @resume.particulars.contact.address.state %> <%= @resume.particulars.contact.address.zipcode %>
          </p>
          <p id="telephone">
            <%= @resume.particulars.contact.telephone %>
          </p>
          <p id="email">
            <a href="mailto:<%= @resume.particulars.contact.email %>"><%= @resume.particulars.contact.email %></a>
          </p>
          <p id="websites">
            <% @resume.particulars.contact.websites.each do |website| %><a href="<%= website %>"><%= website %></a><br /><% end %>
          </p>
        </address>
    </header>
    <section id="skills">
      <h3>Skills</h3>
      <dl>
      <% @resume.skills.each do |category| %>
        <dt><%= category.category %>:</dt>
        <dd><%= category.skills.join(', ') %></dd>
      <% end %>
      </dl>
    </section>
    <section id="education">
      <h3>Education</h3>
      <dl>
        <% @resume.education.each do |ed| %>
        <dt><%= ed.degree.type %> in <%= ed.degree.major %> from <%= ed.school %></dt>
        <dd>
          <p style="margin-top: 0;"><em><% unless ed.degree.minor.to_s.empty?  %>
            <%= "Minor in #{ ed.degree.minor }" %>
          <% end; unless ed.degree.emphasis.to_s.empty? %>
            <%= "Emphasis in #{ ed.degree.emphasis }" %>
          <% end %></em></p>
        </dd>
        <% end %>
      </dl>
    </section>
    <section id="experience">
      <h3>Experience</h3>
      <dl>
      <% @resume.experience.each do |job| %>
        <dt><%= job.title %> at <%= job.name %> in <%= job.contact.address.city %>, <%= job.contact.address.state %> (<%= job.date.start.year %> - <%= job.date.end.year %>)</dt>
        <dd>
          <ul>
          <% job.points.each do |point| %>
            <li><%= point %></li>
          <% end %>
          </ul>
        </dd>
      <% end %>
      </dl>
    </section>
    <section id="endorsements">
      <h3>Endorsements</h3>
      <% @resume.endorsements.each do |endorsement| %>
        <div class="endorsement">
          <p class="body">&ldquo;<%= endorsement.body %>&rdquo;</p>
          <p class="from">-- <%= endorsement.from.name %>, <%= endorsement.from.rel %>
        </div>
      <% end %>
    </section>
    <footer>
      <address>
        <%= @resume.particulars.name.join(' ') %> <span class="divider">|</span>
        <%= @resume.particulars.contact.telephone %> <span class="divider">|</span>
        <a href="mailto:<%= @resume.particulars.contact.email %>"><%= @resume.particulars.contact.email %></a> <span class="divider">|</span>
        <a href="<%= @resume.particulars.contact.websites.first %>"><%= @resume.particulars.contact.websites.first %></a> <span class="divider">|</span>
        <a href="<%= @resume.particulars.name.join('.').downcase %>.pdf">Download PDF</a>
      </address>
    </footer>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6176136-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
